/*flips image horizontally and vertically*/
.flip-hor-vert {
    -moz-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    -webkit-transform: scale(-1, -1);
    transform: scale(-1, -1);
}

.flip-hor {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
        border: 0px solid black;
}

.flip-vert {
        -moz-transform: scaleY(-1);
        -o-transform: scaleY(-1);
        -webkit-transform: scaleY(-1);
        transform: scaleY(-1);
        filter: FlipV;
        -ms-filter: "FlipV";
        border: 0px solid black;
}
/* table management */
.table {
    width: 99%
    padding: 0;
    margin: 0;
    white-space: nowrap;
}
.row {
    display: block;
    padding: 0px;
    margin: 0px;    
    clear:both;
}
.col {
    vertical-align: top;
    display: inline-block;
    height: 100%;
}

.col img {
       vertical-align:top;
}